<div class="background">
  <div class="container">
    <div class="row">
      <img src="../../assets/Images/logo_white.png" class="logo">
    </div>
    <div class="row row-flex">
      <div class="col m6 col-banner">
        <img src="../../assets/Images/viajei-banner.png" class="banner-img">
      </div>
      <div class="col m6 s12 col-login">
        <ul class="collapsible">
          <li class="active">
            <div class="collapsible-header deep-purple lighten-1"><span>Informações</span></div>
            <div class="collapsible-body grey lighten-5">
              <div class="row">
                <form class="col s12">
                  <div class="row">
                    <div class="input-field col s12">
                      <input id="birthDate" type="date">
                      <label for="birthDate">Data de nascimento</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col s6">
                      <label>
                        <input name="sex" type="radio" />
                        <span>Feminino</span>
                      </label>
                    </div>
                    <div class="col s6">
                      <label>
                        <input name="sex" type="radio" />
                        <span>Masculino</span>
                      </label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      <input id="phone-number" type="tel">
                      <label for="number">Telefone</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      <textarea id="bio" class="materialize-textarea"></textarea>
                      <label for="bio">Escreva sobre você</label>
                    </div>
                  </div>
                  <div class="row row-margin">
                    <div class="input-field col s12">
                      <button class="btn right deep-purple">Enviar</button>
                    </div>
                  </div>
                </form>
              </div>

            </div>
          </li>
        </ul>
      </div>

    </div>
    <app-footer></app-footer>
  </div>
</div>