<div class="background">
  <div class="container">
    <div class="row">
      <img src="../../assets/Images/logo_white.png" class="logo">
    </div>
    <div class="row row-flex">
      <div class="col m6 col-banner">
        <img src="../../assets/Images/viajei-banner.png" class="banner-img">
      </div>
      <div class="row grey lighten-5">
        <form class="col s12">
          <div class="row">
            <div class="input-field col s12">
              <input id="birthDate" type="text" class="validate">
              <label for="birthDate">Nascimento</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="sex" type="text" class="validate">
              <label for="Sex">Sexo</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="phone-number" type="tel" class="validate">
              <label for="number">Número de telefone</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="bio" type="text" class="validate">
              <label for="bio">Escreva sobre você</label>
            </div>

          </div>
          <div class="row row-margin">
            <div class="input-field col s12">
              <button class="btn right deep-purple">Enviar</button>
            </div>
          </div>
        </form>
      </div>

    </div>
    <app-footer></app-footer>
  </div>

</div>