.card {
  padding: 10px;
}

.card-header {
  display: flex;
  padding: 5px;
}

.card-header img {
  width: 50px;
  height: 50px;
  display: inline-block;
}

.card-header .info {
  display: inline-block;
  margin-left: 10px;
}
.card-header .name {
  display: block;
  width: 100%;
}

.likes {
  color: red;
}

.likes,
.comments {
  font-size: 1.5em;
}

.comments {
  margin-left: 20px;
}

.count {
  font-size: 0.7em;
  color: #666;
  margin-left: 10px;
}

.card-footer {
  display: flex;
}

.card-image {
  width: 100%;
}

.collapsible,
.collapsible-body {
  border-color: transparent;
  box-shadow: none;
  border-bottom-width: 0;
}

/* label focus color */
.input-field input:focus + label,
.input-field textarea:focus + label {
  color: #0c3ea3;
}
/* label underline focus color */
.input-field input:focus,
.input-field textarea:focus {
  border-bottom: 1px solid #0c3ea3;
  box-shadow: 0 1px 0 0 #0c3ea3;
}
