.background {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to left, rgba(255,255,255, .15), rgba(255,255,255, .15)), url('../../assets/Images/bg-login.png') center center;
}

.container {
  width: 90%;
}

.row {
  margin-bottom: 15px;
}

.logo {
  max-height: 80px;
}

.banner {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-img {
  width: 80%;
}

.collapsible {
  max-width: 70%;
  margin: 0 auto;
}

.collapsible-header {
  background-color: #7e57c2;
  color: #fff;
  font-size: 1.3em;
  text-transform: uppercase;
}

.collapsible-header span {
  margin: 0 auto;
  transition: all .3s;
}

.collapsible-header span:hover {
  color: #f0f0f0ef;
}

.input-field {
  margin-top: 0;
  margin-bottom: 0;
}

.fab{
  font-size:25px;
  width: 50px;
  height: 50px;
  background-color:#fff;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  color: #673ab7;
  transition: all .3s;
}

.fab:hover {
  color: #fff;
  background-color: #673ab7;
}

.login-social{
  margin-bottom: 0;
}

[type="checkbox"].filled-in:checked + span:not(.lever):after {
  top: 0;
  width: 20px;
  height: 20px;
  border: 2px solid #673ab7;
  background-color: #673ab7;
  z-index: 0;
}
