<div class="background">
  <div class="container">
    <div class="row">
      <img src="../../assets/Images/logo_white.png" class="logo">
    </div>
    <div class="row">
      <div class="col s6">
        <img src="../../assets/Images/viajei-banner.png" class="banner">
      </div>
      <div class="col s6">
        <ul class="collapsible">
          <li class="active">
            <div class="collapsible-header"><span>Entrar</span></div>
            <div class="collapsible-body grey lighten-5">
              <div class="row">
                <form class="col s12">
                  <div class="row">
                    <div class="input-field col s12">
                      <input ng-model="email" id="email" type="email" class="validate" required>
                      <label for="email">Email</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      <input ng-model="password" id="password" type="password" class="validate" required>
                      <label for="password">Senha</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s6">
                      <label>
                        <input type="checkbox" class="filled-in">
                        <span>Lembrar</span>
                      </label>
                    </div>
                    <div class="input-field col s6">
                      <button class="btn right deep-purple">Enviar</button>
                    </div>
                  </div>
                </form>
              </div>
              <div class="row login-social">
                <div class="col s6">
                  <a href="#" (click)="facebookLogin()"><i class="fab fa-facebook-f tooltipped" data-position="bottom"
                      data-tooltip="Entre com sua conta do Facebook"></i></a>
                </div>
                <div class="col-s6">
                  <a href="#" (click)="googleLogin()"><i class="fab fa-google tooltipped" data-position="bottom"
                      data-tooltip="Entre com sua conta do Google"></i></a>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="collapsible-header"><span>Cadastrar</span></div>
            <div class="collapsible-body grey lighten-5">
              <div class="row">
                <form class="col s12">
                  <div class="row">
                    <div class="input-field col s12">
                      <input ng-model="name" id="name" type="text" class="validate" required>
                      <label for="name">Nome</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      <input ng-model="email" id="email" type="email" class="validate" required>
                      <label for="email">Email</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      <input ng-model="password" id="password" type="password" class="validate" required>
                      <label for="password">Senha</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      <button class="btn right deep-purple" routerLink="/cadastro">Cadastrar</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </li>
        </ul>
      </div>

    </div>
    <app-footer></app-footer>
  </div>
</div>