.background {
    width: 100vw;
    height: 100vh;
    background-image: url("../../assets/Images/bg-login.png");
    background-position: center;
}

.login-container{
}

button {
}

.noAccount-register{
}