<div class="background">
  <div class="container">
    <div class="row">
      <div class="login-container">
        <div class="row"><img class="side-banner" />
        <button (click)="facebookLogin()" class="login-btn" id="facebook">
          Entrar com Facebook</button
        ><br />
        <button (click)="googleLogin()" class="login-btn" id="google">
          Entrar com Google</button
        ><br />
        <button routerLink="" class="login-btn" id="email">Email</button>
        <a
          routerLink="/register"
          routerLinkActive="active"
          class="noAccount-register"
          >Não tem uma conta?<strong>Crie já uma</strong></a
        >
        <app-footer></app-footer>
      </div>
    </div>
  </div>
</div>

<!-- <body>
  <div class="container">
    <div class="row">
      <div class="col s6">
        <img src="viajei-banner.png" class="responsive-img" />
      </div>

      <div class="col s6">
        <ul class="collapsible">
          <li class="active">
            <div class="collapsible-header">
              <i class="material-icons">vpn_key</i>Login
            </div>

            <div class="collapsible-body">
              <div class="row">
                <form class="col s12">
                  <div class="row">
                    <div class="input-field col s12">
                      <input id="email" type="email" class="validate" />

                      <label for="email">Email</label>
                    </div>
                  </div>

                  <div class="row">
                    <div class="input-field col s12">
                      <input id="password" type="password" class="validate" />

                      <label for="password">Senha</label>
                    </div>
                  </div>

                  <div class="row">
                    <div class="input-field col s12">
                      <label>
                        <input
                          type="checkbox"
                          class="filled-in"
                          checked="checked"
                        />

                        <span>Lembrar</span>
                      </label>
                    </div>
                  </div>

                  <div class="row">
                    <div class="input-field col s12 margin-small">
                      <button class="btn">Enviar</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </li>

          <li>
            <div class="collapsible-header">
              <i class="material-icons">how_to_reg</i>Cadastrar
            </div>

            <div class="collapsible-body">
              <div class="row">
                <form class="col s12">
                  <div class="row">
                    <div class="input-field col s12">
                      <input id="first_name" type="text" class="validate" />

                      <label for="first_name">Nome</label>
                    </div>
                  </div>

                  <div class="row">
                    <div class="input-field col s12">
                      <input id="password" type="password" class="validate" />

                      <label for="password">Senha</label>
                    </div>
                  </div>

                  <div class="row">
                    <div class="input-field col s12">
                      <input id="email" type="email" class="validate" />

                      <label for="email">Email</label>
                    </div>
                  </div>

                  <div class="row">
                    <div class="input-field col s12 margin-small">
                      <button class="btn">Enviar</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</body> -->
