<div class="background">
  <div class="login-container">
    <div class="row">
      <img class="side-banner">
    </div>

    <ul class="collapsible">
      <li class="active">
        <div class="collapsible-header grey lighten-2">Entrar</div>
        <div class="collapsible-body grey lighten-3">
          <div class="row">
            <form class="col s12">
              <div class="row">
                <div class="input-field col s12">
                  <input id="email" type="email" class="validate">
                  <label for="email">Email</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input id="password" type="password" class="validate">
                  <label for="password">Senha</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s6">
                  <label>
                    <input type="checkbox" class="filled-in" checked="checked" />
                    <span>Lembrar</span>
                  </label>
                </div>
                <div class="input-field col s6">
                  <button class="btn right deep-purple">Enviar</button>
                </div>
              </div>
            </form>
          </div>
          <div class="row login-social">
            <div class="col s6">
              <a href="#" (click)="facebookLogin()"><i class="fab fa-facebook-f"></i></a>
            </div>
            <div class="col-s6">
              <a href="#" (click)="googleLogin()"><i class="fab fa-google"></i></a>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="collapsible-header">Cadastrar</div>
        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
      </li>
    </ul>
    <app-footer></app-footer>
  </div>
</div>