<div class="background">
  <div class="container">
    <a routerLink="/home" class="btn deep-purple"><i class="fas fa-arrow-left"></i> Voltar</a>
    <div class="title">
      <h2>Sobre nós</h2>
      <p class="flow-text">O nosso grupo é formado pelos adoráveis:</p>
    </div>
    <div class="row">
      <div class="col m4 s12">
        <figure>
          <img src="../../assets/Images/about/fernando.png" alt="Fernando Lucas">
          <figcaption>
            <p>Fernando Lucas</p>
            <p class="icons">
              <a href="#"><i class="fab fa-linkedin-in"></i></a>
              <a href="#"><i class="fab fa-github"></i></a>
            </p>
          </figcaption>
        </figure>
      </div>
      <div class="col m4 s12">
        <figure>
          <img src="../../assets/Images/about/geovana.png" alt="Geovana Ribeiro">
          <figcaption>
            <p>Geovana Ribeiro</p>
            <p class="icons">
              <a href="#"><i class="fab fa-linkedin-in"></i></a>
              <a href="#"><i class="fab fa-github"></i></a>
            </p>
          </figcaption>
        </figure>
      </div>
      <div class="col m4 s12">
        <figure>
          <img src="../../assets/Images/about/joao.png" alt="João Carlos">
          <figcaption>
            <p>João Carlos</p>
            <p class="icons">
              <a href="#"><i class="fab fa-linkedin-in"></i></a>
              <a href="#"><i class="fab fa-github"></i></a>
            </p>
          </figcaption>
        </figure>
      </div>
    </div>
    <div class="row">
      <div class="col m4 s12">
        <figure>
          <img src="../../assets/Images/about/priscila.png" alt="Priscila Crisafulli">
          <figcaption>
            <p>Priscila Crisafulli</p>
            <p class="icons">
              <a href="#"><i class="fab fa-linkedin-in"></i></a>
              <a href="#"><i class="fab fa-github"></i></a>
            </p>
          </figcaption>
        </figure>
      </div>
      <div class="col m4 s12">
        <figure>
          <img src="../../assets/Images/about/rodrigo.png" alt="Rodrigo Figueiredo">
          <figcaption>
            <p>Rodrigo Figueiredo</p>
            <p class="icons">
              <a href="#"><i class="fab fa-linkedin-in"></i></a>
              <a href="#"><i class="fab fa-github"></i></a>
            </p>
          </figcaption>
        </figure>
      </div>
      <div class="col m4 s12">
        <figure>
          <img src="../../assets/Images/about/yanni.png" alt="Yanni Fraga">
          <figcaption>
            <p>Yanni Fraga</p>
            <p class="icons">
              <a href="https://www.linkedin.com/in/yanni-fraga/"><i class="fab fa-linkedin-in"></i></a>
              <a href="https://github.com/YanniF"><i class="fab fa-github"></i></a>
            </p>
          </figcaption>
        </figure>
      </div>
    </div>
  </div>
</div>